$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

//  Neutral

$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

// Fuentes

$principal: "Poppins", sans-serif;

// Peso de fuente
$fw-400: 400;
$fw-700: 700;
$fw-800: 800;

// Breack Point
$sm: 375px;
$xl: 1440px;